<style>
  .btn-search {
    background-color: #fff;
    color: black;
    border: 1px solid rgb(207, 206, 206);
     display: flex;
    align-items: center;
    justify-content: center; 
    gap: 0.5rem;
    border-radius: 20px;
    margin-left: 0.5rem;
  }
  .btn-search:hover {
    background-color: #dc5257b8;
    color: black;
    border: 1px solid black;
  }
  .btn-search i {
    display: inline !important;
    line-height: 1;
    
  }
  .inp-search {
    border-radius: 20px;
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-film"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings">All Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add New Books</a>
        </li>
      </ul>
    </div>

    <div class="navbar-nav ">
      <form class="form d-flex" action="/listings" method="get">
        <input class="form-control mr-sm-2 inp-search" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
      </form>
    </div>

    <div>
      <ul class="navbar-nav">
        <% if(!currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/signup">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <% } %> <% if(currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
    
    
</nav>
