<%layout("/layouts/boilerplate") %>
<body>
  <h3></h3>

  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
    <% for(let listing of allListings) { %>
    <div class="col-sm mb-3">
      <a href="/listings/<%= listing._id %>" class="anchor">
        <div class="card">
          <img
            src="<%= listing.image %>"
            class="card-img-top"
            alt="..."
            style="height: 30rem"
          />
          <div class="card-img-overlay">abc</div>
          <div class="card-body">
            <p class="card-text"><b><%= listing.title %></b></p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>

  <form method="GET" action="/listings/new">
    <button class="addbtn mb-4">
      <i class="fa-solid fa-plus"></i> add new movie
    </button>
  </form>
</body>
